.star-rating {
    font-family: 'Font Awesome 5 Free';
    margin: 0 auto;
  }
  .star-rating > fieldset {
    border: none;
    display: inline-block;
  }
  .star-rating > fieldset:not(:checked) > input {
    position: absolute;
    visibility: hidden;
    clip: rect(0, 0, 0, 0);
  }
  .star-rating > fieldset:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 0.05em;    
    white-space: nowrap;
    cursor: pointer;
    font-size: 150%;
    color: #ffc107;
  }
  .star-rating > fieldset:not(:checked) > label:before {
    content: '\f005  ';
    font-weight: 400;
  }
  .star-rating > fieldset:not(:checked) > label:hover,
  .star-rating > fieldset:not(:checked) > label:hover ~ label {
    color: #ffc107;
    text-shadow: 0 0 3px #ffc107;
  }
  .star-rating > fieldset:not(:checked) > label:hover:before,
  .star-rating > fieldset:not(:checked) > label:hover ~ label:before {
    content: '\f005  ';
    font-weight: 900;

  }
  .star-rating > fieldset > input:checked ~ label:before {
    content: '\f005  ';
    font-weight: 900;
  }
  .star-rating > fieldset > label:active {
    position: relative;
    top: 2px;
  }